.thuTitle {
	padding: 20px;
	background-color: #c40b2d;
	color: #e08989;
	font-family: 'Dancing Script', cursive;
	font-size: 26pt;
}

.tamthu {
	font-family: 'Dancing Script', cursive;
	font-size: 18pt;
}

.content {
	background-color:	#ea2447;
}

body {
	background-color: rgb(218, 65, 65);
}
span {
	display: inline-block;
	white-space: pre;
}

.iloveyou {
	position: relative;
}

.mask {
	position: absolute;
	background-color: #e72c2c;
	width: 100%;
	height:100%;
	top: 0;
	left: 0;
}